*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 10%;
    font-size: 1.5rem;
    background: #4C2A0A;
    color: #CBECF6;
}

input, textarea, select, button {
    font: inherit
}